<nav class="navbar navbar-default my-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1,2,3]"></span>
      </button>
      <a routerLink="" class="navbar-brand" style="font-size:28px;font-weight: 100; color: violet;">BetNHL</a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active-query" [routerLinkActiveOptions]="{exact: true}" >
          <a routerLink="/querier" style="color: aquamarine; font-size: 23px;">
            new_query
          </a>
        </li>
        <li routerLinkActive="active-scrape" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/scraper" style="color: aquamarine; font-size: 23px;">
            scrape
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle" role="button">
            <span class="my-caret" ></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Do Something</a></li>
            <li><a href="#">Do Something Else</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>