<div class="row my-fill-3 my-fit" 
  style="padding: 2px; border-bottom: 2px solid aquamarine;">
  <div class="col-md-6">
    <h4 style="font-weight: bolder;">Website Properties</h4>
  </div>
  <div class="col-md-6" style="text-align: right; padding-right: 0px;">
    <button class="my-btn-1" type="button" (click)="multiplePagesChanged()">{{multiplePagesText}}</button>
  </div>
</div>
<div class="row my-fit pad-10" [ngSwitch]="multiplePagesText">
  <form *ngSwitchCase="'Just One Page?'">
    <div class="row my-fit" style="padding-left: 6px;">
      <label class="my-label-1">Base URL</label>
      <input type="text" placeholder="Base URL" class="my-input-2" 
            (change)="updateWebsite()" [value]="currentUrl" #baseUrl>
    </div>
    <div class="row my-fit" style="padding-top: 10px; padding-left: 7px;">
      <div class="col-md-3" style="padding-left: 0px; margin: 0 auto;">
        <label class="my-label-1" style="margin-right: 0px;">Extensions</label>
      </div>
      <div class="col-md-9" style="text-align: right; margin-top: 0 auto; padding-right: 0px;">
        <div class="btn-group" appDropdown>
          <button class="my-info-btn dropdown-toggle" type="button">
            Syntax
          </button>
          <div class="dropdown-menu my-info-dropdown">
            <p style="margin-bottom: 12px;"> <b style="font-style: italic;">Date Range:</b> ~date yyyy-mm-dd yyyy-mm-dd </p>

            <p style="margin-bottom: 2px;"> <b style="font-style: italic;">Year Range:</b> ~year yyyy yyyy </p>
            <p style="margin-bottom: 12px;"> <b style="font-style: italic;">Year Incriment With Date:</b> ~dyear [d#] [0/1]</p>

            <p style="margin-bottom: 2px;"> <b style="font-style: italic;">Every Team:</b> ~team YYYY</p>
            <p style="margin-bottom: 12px;"> <b style="font-style: italic;">Every Team Each Date/Year:</b> ~dteam/~yteam</p>

            <p style="margin-bottom: 2px;"> <b style="font-style: italic;">Number Range:</b> ~num start end </p>
            <p style="margin-bottom: 12px;"> <b style="font-style: italic;">Loop # Each D/T/Y:</b> ~dnum/~tnum/~ynum s e</p>

            <p style="font-size: 90%; color: violet; font-style: italic; text-align: right; margin-bottom: 0px;">year's [d#] = date ref</p>
            <p style="font-size: 90%; color: violet; font-style: italic; text-align: right; margin-bottom: 0px;">yr's [0/1] = refering to start/end of season</p>
            <p style="font-size: 90%; color: violet; font-style: italic; text-align: right; margin-bottom: 0px;">year season ends in</p>
            <p style="font-size: 90%; color: violet; font-style: italic; text-align: right; margin-bottom: 0px;">indices start at 0</p>
            <p style="font-size: 90%; color: violet; font-style: italic; text-align: right; margin-bottom: 0px;">all inclusive..</p>
            <p style="font-size: 90%; color: violet; font-style: italic; text-align: right; margin-bottom: 0px;">no ~xnum functionality</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-fit" *ngFor="let extension of extensions; let i=index"
      style="padding-top: 0px; padding-bottom: 10px; padding-left: 0px;">
      <div class="col-md-12" style="padding-right: 2px; padding-left: 7px;">
        <input type="text" class="my-input-2" 
          [placeholder]="'Extension Part ' + [i+ 1]"
          (change)="updateExtensions($event, i)"
          [value]="extensions[i] === undefined ? '' : extensions[i]">
      </div>
    </div>
    <div class="row my-fit" style="text-align: center; padding-bottom: 5px; padding-top: 10px; padding-right: 0px;">
        <button class="my-btn-2" style="margin-right: 20%; margin-left: 30%;"
          type="button" (click)="extensions.push('')">
          Add Extension
        </button>
        <button class="my-btn-4" type="button" (click)="clearCurrent()">
          clear
        </button>
    </div>
  </form>
  <form *ngSwitchDefault>
    <div class="row my-fit" style="padding-bottom: 10px;">
      <div class="col-md-12">
        <label class="my-label-1">Website URL</label>
        <input type="text" placeholder="Website URL" class="my-input-2" 
              (change)="updateWebsite()" [value]="currentUrl"
              #baseUrl>
      </div>
    </div>
  </form>
</div>