<div class="col-md-12 my-page" style="margin: 0 auto; min-height: 80vh;">
  <div class="row my-fill-1 my-fit" style="padding: 10px;  background-image: linear-gradient(to bottom, rgb(105, 48, 8), aquamarine);">
    <div class="col-md-4" style="text-align: center;">
      <button class="my-btn-3" type="button" style="padding: 5px 15px;"
              (click)="manageTypeChanged('edit')">edit queries</button>
    </div>
    <div class="col-md-4" style="text-align: center;">
      <button class="my-btn-3" type="button" style="padding: 5px 15px;" 
              routerLink="/querier">new query</button>
    </div>
    <div class="col-md-4" style="text-align: center;">
      <button class="my-btn-3" type="button" style="padding: 5px 15px;"
              (click)="manageTypeChanged('delete')">delete queries</button>
    </div>
  </div>
  <div class="row my-fit">
    <div class="row my-fill-3 my-fit" style="padding: 2px; border-bottom: 2px solid aquamarine">
      <div class="col-md-6">
        <h4 style="font-weight: bolder;" *ngIf="manageType=='edit'">Edit Queries</h4>
        <h4 style="font-weight: bolder;" *ngIf="manageType=='delete'">Delete Queries</h4>
      </div>
    </div>
    <div class="row my-fit pad-10" style="margin: -2px 10px; border-bottom: 2px solid violet;"
        *ngFor="let query of queries">
      <div class="col-md-8">
        <h4 style="width: fit-content; padding: 2px 5px; background-image: linear-gradient(to left, rgb(105, 48, 8), rgba(238, 130, 238,0.4));">
          Table: <b>{{query.table.name}}</b>, 
          Base URL: <b>{{query.website.baseUrl}}</b>
        </h4>
      </div>
      <div class="col-md-4" style="padding: 12px; text-align: right;" *ngIf="manageType=='delete'">
        <a class="my-btn-4" style="font-style:normal; font-size: 16px;"
                (click)="deleteQuery(query)" href="http://localhost:4200/querier/manage">Delete Query</a>
      </div>
        <div class="col-md-6">
          <h4 style="font-weight: bolder; text-decoration-line: underline;">Columns</h4>
          <div class="row my-fit" *ngFor="let col of query.table.columns">
            Name: <b>{{col.name}}</b>, Type: <b>{{col.type}}</b>
          </div>
        </div>
        <div class="col-md-6">
          <h4 style="font-weight: bolder; text-decoration-line: underline;">Extensions</h4>
          <div class="row my-fit" *ngFor="let ext of query.website.extensions">
            <b>{{ext}}</b>
          </div>
        </div>
    </div>
  </div>
</div>
