<div class="row my-fill-3 my-fit" style="margin-top: 15px; padding-left: 10px; border-bottom: 2px solid aquamarine">
  <h4 style="font-weight: bolder;">Table Properties</h4>
</div>
<div class="row my-fit pad-10">
  <form>
    <div class="row my-fit">
      <div class="col-md-3" style="text-align: center; padding-top: 5px;">
        <div class="btn-group" appDropdown>
          <button class="my-btn-2 dropdown-toggle" type="button">
            Recent Tables
            <span class="my-caret" ></span>
          </button>
          <ul class="dropdown-menu my-dropdown-1" 
            style="margin: 0px; padding: 0px;">
            <li *ngFor="let table of tables">
              <a href="#" class="my-li-1" 
                (click)="[tableName.value = table.name, autoCompleteColumns(table.name)]">
                {{table.name}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <label class="my-label-1">Table Name</label>
        <input type="text" 
              placeholder="Table Name"
              class="my-input-2" #tableName 
              (change)="autoCompleteColumns(tableName.value)">
      </div>
    </div>
    <div class="row my-fit" style="padding-top: 15px; ">
      <div class="col-md-3">
      </div>
      <div class="col-md-9" style="margin-bottom: -20px;">
        <label class="my-label-1" style="padding-left: 2px;">Columns</label>
      </div>
    </div>
    <div class="row my-fit" *ngFor="let column of columns; let i=index"
      style="padding-top: 0px; padding-bottom: 10px;">
        <div class="col-md-3">
        </div>
        <div class="col-md-4">
          <p style="text-align: right; margin: 0 auto;">N A M E</p>
          <input type="text" class="my-input-2" 
          [placeholder]="'Column Name ' + [i+1]"
          (change)="updateColumns(column.name, i, 'NAME')"
          [value]="column.name === undefined ? '' : column.name">
        </div>
        <div class="col-md-4">
          <p style="text-align: right; margin: 0 auto;">T Y P E</p>
          <input type="text" class="my-input-2" 
          [placeholder]="'Column Type ' + [i+1]"
          (change)="updateColumns(column.type, i, 'TYPE')"
          [value]="column.type === undefined ? '' : column.type">
        </div>
    </div>
    <div class="row my-fit" style="text-align: center; padding: 5px;">
      <button class="my-btn-2" type="button" (click)="moreColumnInputs()">Add More Columns</button>
    </div>
  </form>
</div>