<div class="col-md-12 my-page" style="margin: 0 auto;">
  <div class="row my-fill-1 my-fit" style="padding: 5px; background-image: linear-gradient(to bottom, rgb(105, 48, 8), aquamarine);">
    <div class="col-md-3">
      <div class="btn-group" appDropdown>
        <button class="my-btn-2 dropdown-toggle" type="button">
          Recent Queries
          <span class="my-caret" ></span>
        </button>
        <ul class="dropdown-menu my-dropdown-1" 
          style="margin: 0px; padding: 0px;">
          <li *ngFor="let query of queries">
            <a routerLink="/querier" class="my-li-1" 
              (click)="loadQuery(query.query_id)">
              {{query.query_id}}: {{query.table.name}}, {{query.website.baseUrl}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3" style="text-align: right; padding-right: 1px; padding-top: 8px;">
      <a class="my-btn-3" type="button" href="http://localhost:4200/scraper" (click)="submitQuery()">create</a>
    </div>
    <div class="col-md-3" style="text-align: left; padding-left: 1px; margin-top: -4px;">
      <button class="my-fake-btn">QUERY</button>
    </div>
  </div>
  <app-website></app-website>
  <app-table></app-table>
  <app-page-paths></app-page-paths>
</div>