<div class="container my-page" style="margin: 0 auto;">
  <div class="row my-fill-1 my-fit" style="padding: 0px; background-image: linear-gradient(to bottom, rgb(105, 48, 8), aquamarine);">
    <div class="col-md-3" style="width: min-content; margin: 0px; padding: 0px; border-right: 8px solid violet; border-bottom: 5px solid violet; border-top: 4px solid violet;">
      <div class="btn-group" appDropdown>
        <button class="my-btn-3 dropdown-toggle" type="button" style="padding: 5px 9px;">
          saved queries
          <span class="my-caret" style="color: violet;"></span>
        </button>
        <ul class="dropdown-menu saved-queries-dropdown" 
          style="margin: 0px; padding: 0px;">
          <li *ngFor="let query of queries" routerLink="/querier" 
          (click)="loadQuery(query.query_id)" style="border-bottom: 2px solid aquamarine;">
            <div class="row my-fit pad-5">
              <div class="col-md-2" style="padding-right: 0px; padding-top: 8px; font-size: 130%; text-shadow: 1px 1px 1px violet;">
                {{query.query_id}}
              </div>
              <div class="col-md-10" style="padding-left: 0px;">
                <div class="row my-fit" style="font-weight: 900; font-size: 115%;">
                  {{query.table.name}}
                </div>
                <div class="row my-fit" style="font-weight: 900; font-size: 110%;">
                  {{query.website.baseUrl}}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-auto" style="text-align: right; padding-right: 15px; padding-left: 0px; padding-top: 12px;">
      <a class="my-btn-3" type="button" style="margin-right: 20px;"
        routerLink="/querier/manage" (click)="submitQuery()">create</a>
      <a class="my-btn-3" type="button" 
        routerLink="/querier/manage">manage</a>
    </div>
  </div>
  <div class="row my-fit">
    <div class="col-md-6" style="padding-left: 0px;">
      <app-website></app-website>
      <app-page-paths></app-page-paths>
    </div>
    <div class="col-md-6" style="padding-right: 0px;">
      <app-table></app-table>
    </div>
  </div>
</div>