.upload-page{
  margin: 0 auto;
  background-image: linear-gradient(to right, rgb(26 12 2), lightgreen);
  border-top: 5px solid black;
  border-right: 20px solid black;
  border-left: 15px solid black;
  border-bottom: 10px solid black;
  padding: 0px;
  font-family: 'Monaco', monospace;
  color: lightgreen;
  box-shadow:  0px 25px 15px 6px black, 0px 40px 12px 15px rgb(169, 238, 144);
}

.upload-header-btn{
  padding: 5px;
  color: black;
  font-size: 115%;
  cursor: pointer;
  background-image: linear-gradient(to top left, #4a4f4a, #a9c99f);
  border: solid;
  border-image: linear-gradient(to bottom right, rgb(0 0 0), #cfffd0) 1/5px;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  user-select: none;
}
.upload-header-btn:hover{
  background-image: linear-gradient(to bottom right, rgb(0 0 0), #cfffd0);
  color: lightgreen;
  cursor: pointer;
  text-decoration: none;
}

.sql-options{
  margin: 0px; 
  padding: 0px;
  position: absolute;
  font-size: 16px;
  text-align: left;
  list-style: none;
  z-index: 1000;
  background-color:rgb(139 199 111 / 95%);
  background-clip: padding-box;
  border-radius: 0px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  text-align: center;
}
.sql-options>li{
  padding: 6px;
  border: solid;
  border-image: linear-gradient(to top left, rgb(139 199 111), #546554) 1/4px;
  border-top: 0px;
}
.sql-options>li>a{
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0px;
  border: 0px;
  font-size: 115%;
  color: #404940;
  font-weight: 900;
  text-shadow: -1px -1px 1px lightgreen, 0 0 0.2em rgba(145, 204, 73, 0.75), 0 0 0.2em rgba(0, 0, 0, 0);

}
.sql-options>li>a:hover, .sql-options>li>a:focus{
  text-decoration: none;
  cursor: pointer;
  color: rgb(139 199 111);
}
.sql-options>li:focus, .sql-options>li:hover{
  cursor: pointer;
  background-color: rgba(64, 73, 64, 0.9);
}


.saved-tables{
  margin: 0px; 
  padding: 0px;
  position: absolute;
  font-size: 14px;
  text-align: left;
  list-style: none;
  z-index: 1000;
  background-color:rgba(95, 130, 69, 0.95);
  background-clip: padding-box;
  border-radius: 0px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  text-align: center;
}
.saved-tables>li{
  padding: 6px;
  border: solid;
  border-image: linear-gradient(to top left, rgb(114 145 88), #283028) 1/4px;
  border-top: 0px;
}
.saved-tables>li>a{
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 0px;
  border: 0px;
  color: #1f221f;
  text-shadow: -1px -1px 1px lightgreen, 0 0 0.2em rgba(145, 204, 73, 0.75), 0 0 0.2em rgba(0, 0, 0, 0);
}
.saved-tables>li>a:hover, .saved-tables>li>a:focus{
  text-decoration: none;
  cursor: pointer;
  color: rgb(139 199 111);
}
.saved-tables>li:focus, .saved-tables>li:hover{
  cursor: pointer;
  background-color: rgba(38, 43, 38, 0.9);
}

.sql-response-container{
  position: absolute;
  z-index: 1000;
  margin-top: 25px;
  padding: 10px;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.95);
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
}
.exit-sql-response{
  padding: 5px 30px;
  cursor: pointer;
  background-color: rgb(85 109 56);
  color: rgb(0, 0, 0);   
  text-shadow: -1px -1px 1px lightgreen, 0 0 0.2em rgba(145, 204, 73, 0.75), 0 0 0.2em rgba(0, 0, 0, 0);
  border: solid;
  border-image: linear-gradient(to bottom right, rgb(153, 196, 103), #426516) 1/3px;
  font-weight: 100;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  user-select: none;
  margin-left: 15px;
  margin-right: 15px;
}
.exit-sql-response:hover, .exit-sql-response:focus{
  text-decoration: none;
  background-color: rgba(153, 196, 103, 0.75);
}




.exit-upload-btn{
  padding: 5px 9px;
  font-size: 125%;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, rgb(0 0 0), #cfffd0); 
  color: rgb(162 227 142);   
  border: solid;
  border-image: linear-gradient(to top left, rgb(132, 181, 118), #3b4331) 1/5px;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  user-select: none;
}
.exit-upload-btn:focus, .exit-upload-btn:hover{
  background-image: linear-gradient(to top left, rgb(132, 181, 118), #3b4331);
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.option-btn{
  padding: 3px 10px;
  font-size: 90%;
  width: 90%;
  display: inline-block;
  cursor: pointer;
  background-image: linear-gradient(to top left, rgb(0, 0, 0), #000000);
  color: rgb(40, 40, 40);   
  text-shadow: -1px -1px 1px lightgreen, 0 0 0.2em rgba(145, 204, 73, 0.75), 0 0 0.2em rgba(0, 0, 0, 0);
  border: solid;
  border-image: linear-gradient(to top left, rgb(153, 196, 103), #426516) 1/3px;
  font-weight: 900;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
}
.option-btn:focus, .option-btn:hover{
  background-image: linear-gradient(to top left, rgb(132, 181, 118), #3b4331);
  border-image: linear-gradient(to top left, rgb(132, 181, 118), #3b4331) 1/3px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.cancel-option-btn{
  padding: 3px 25px;
  font-size: 120%;
  cursor: pointer;
  background-color:#e7b7a6;
  margin-right: 20px;
  color: rgb(40, 40, 40);   
  text-shadow: -1px -1px 1px #e7b7a6, 0 0 0.2em rgba(145, 204, 73, 0.75), 0 0 0.2em rgba(0, 0, 0, 0);
  border: solid;
  border-image: linear-gradient(to top left, #e7b7a6, #426516) 1/3px;
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
  touch-action: manipulation;
  user-select: none;
}
.cancel-option-btn:focus, .cancel-option-btn:hover{
  background-image: linear-gradient(to top left, #e7b7a6, #3b4331);
  border-image: linear-gradient(to top left, #e7b7a6, #3b4331) 1/3px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.list-of-diagnostics{
  margin: 0px; 
  padding: 0px;
  position: absolute;
  font-size: 16px;
  text-align: left;
  list-style: none;
  z-index: 1000;
  background-color: rgba(185, 238, 144, 0.9);
  background-clip: padding-box;
  color: black;
  border-radius: 0px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  text-align: center;
}
.list-of-diagnostics>li{
  padding: 3px 5px;
  border-bottom: 2px solid black;
}

.page-input{
  width: 40px;
  padding: 0px;
  font-size: 90%;
  background-color: rgb(22 36 24);
  font-weight: 100;
  border: 0px;
  text-align: center;
  height: min-content;
}
.page-input:focus{
  border-color: yellowgreen;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px 1px rgb(162 227 142);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  text-align: left;
  padding: 8px;
}

.sql-table{
  padding: 5px 10px; 
  font-size: 110%; 
  overflow-x: auto;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.sql-table::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.sql-table-cols{
  border: 3px solid black;
  text-align: center;
  padding: 0px;
  height: max-content;
  background-color: rgba(47, 79, 53, 0.9);
}
.sql-table-cols:hover{
  cursor: default;
  background-color: #6f8e75;
}

.scraped-table{
  margin: 5px 10px; 
  font-size: 110%; 
  overflow-x: auto;
  max-height: 55vh;
  border: 3px solid black;
  border-bottom: 5px solid black;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scraped-table::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.scraped-table-cols{
  border: 3px solid black;
  padding: 0px;
  background-color: rgba(47, 79, 53, 0.9);
  vertical-align: top;
  text-align: center;
}
.scraped-table-cols:hover{
  cursor: default;
}
.scraped-table-data{
  border: 3px solid black;
  background-color: #6f8e75;
  text-align: center;
  padding: 0px;
  font-size: 105%;
}

.deletingColsCSS{
  border: 3px solid black;
  padding: 0px;
  background-color: rgba(47, 79, 53, 0.9);
  vertical-align: top;
  text-align: center;
}
.deletingColsCSS:hover{
  cursor: pointer;
  background-color: #ac0000;
  color:white;
}

.deletingRowsCSS{
  background-color: #6f8e75;
}
.deletingRowsCSS>td{
  background-color: transparent;
}
.deletingRowsCSS:hover{
  cursor: pointer;
  background-color: #ac0000;
  color:white;
}

.swappingColsCSS{
  border: 3px solid black;
  padding: 0px;
  background-color: rgba(47, 79, 53, 0.9);
  vertical-align: top;
  text-align: center;
}
.swappingColsCSS:hover{
  cursor: pointer;
  background-color: #000000;
  color:white;
}
.selectedForSwapCSS{
  border-top: 3px solid rgb(0, 255, 21);
  padding: 0px;
  background-color: black;
  vertical-align: top;
  text-align: center;
  color:rgb(0, 255, 21);
  cursor: pointer;
  font-style: italic;
  font-size: 110%;
  text-shadow: -1px -1px 1px #e7b7a6, 0 0 0.2em rgba(145, 204, 73, 0.75), 0 0 0.2em rgba(255, 255, 255, 0);
}
.selectedForSwapCSS:hover{
  cursor: pointer;
  background-color: #ac0000;
  color:white;
}