<div class="col-md-12 my-page" style="margin: 0 auto; min-height: 80vh;">
  <div class="row my-fit" style="height: 40vh;">
    <div class="row my-fill-3 my-fit" style="padding: 2px; border-bottom: 2px solid aquamarine;">
      <div class="col-md-6">
        <h4 style="font-weight: bolder;">Queries</h4>
      </div>
    </div>
    <div class="row my-fit pad-10">
      <div class="row my-fit">
      </div>
      <div class="row my-fit">
      </div>
    </div>
  </div>
  <div class="row my-fit" style="height: 40vh;">
    <div class="row my-fill-3 my-fit" style="padding: 2px; border-bottom: 2px solid aquamarine">
      <div class="col-md-6">
        <h4 style="font-weight: bolder;">Something Else</h4>
      </div>
    </div>
    <div class="row my-fit pad-10">
      <div class="row my-fit">
      </div>
      <div class="row my-fit">
      </div>
    </div>
  </div>
</div>
